h1, h2 {
  font-family: Lato;
}

.container {
  height: 200px;
  border: solid 1px gray;
  /* overflow:hidden; */
  resize: both;
  overflow: auto;
}

.container > div {
  border-bottom: solid 1px gray;
  padding: 5px 10px;
}

.container > div:last-child {
  border-bottom: none;
}